html {
  font-size: 16px;
}

.page {
  color: var(--bs-dark);
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page-content {
  flex: 1;
}

.page-header{
  background: var(--bs-green);
  color: var(--bs-light)
}

.cards-container{
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
}

.card-img-container{
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
}

.card-img-top{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body{
  padding: 20px 24px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-prices{
  display: flex;
  align-items: center;
  font-weight: 600;
}

.card-price{
  font-size: 2rem;
}

.price-discount{
  font-style: italic;
  color: var(--bs-red);
  margin-left: 2rem;
}

.card-old-price{
  font-size: 1.5rem;
  color: var(--bs-gray);
  text-decoration: line-through;
}

.page-footer{
  background-color: var(--bs-dark);
  color: var(--bs-light);
  padding: 2rem 0;
}

.page-footer-title{
  font-size: 1rem;
}

.network-list{
  list-style-type: none;
  padding: 0;
}

.network-link{
  color: inherit;
  text-decoration: none;
}

.network-link:hover,
.network-link:focus{
  color: inherit;
  text-decoration: underline;
}

.copyright{
  text-align: center;
}
