.app-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content {
  height: 100vh;
  padding-top: 56px;
  overflow: auto;

  @media screen and (min-width: 600px) {
    padding-top: 64px;
  }
}
